@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:100');

/* General settings */
:root {
    --primary: #bec8e4;
    --light: #e2e2e2;
    --dark: #7480df;
    --dark-text: #555;
    --shadow: 0 0 1px 3px rgba(85, 85, 85, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto;
    background: var(--light);
}

/* Navbar at the top */

.navbar {
    background: var(--dark);
    color: var(--light);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar h2{
    align-self: center;
    margin-left: 15px;
}

nav p{
    display: inline-block;
}

.btn {
    padding: 20px 15px;
}

.btn:hover{
    background: #4f60e0;
    cursor: pointer;
}

/* Home page */

#home {
    background: var(--primary);
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-text);
}

.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profiel {
    border-radius: 75px;
    width: 150px;
    height: 150px;
    box-shadow: var(--shadow);
}

#home h1 {
    margin: 20px;
    font-size: 40px;
}

#home i {
    color: var(--dark-text);
}

#home i:hover {
    color: var(--dark);
}

/* About page */

#about {
    height: 100vh;
}

/* Projects page */

#projects {
    height: 100vh;
}